
model/21_01.ifc
model/21_01_01.ifc
model/21_02_01.ifc
model/21_02_02.ifc
model/21_02_03.ifc
model/21_03_01.ifc
model/21_03_03.ifc
model/21_03_05.ifc
model/21_04_01.ifc
model/21_05_01.ifc
model/21_06_01.ifc
output/21_04_01/index.html
output/21_06_01/index.html
output/21_06_01_Facade/index.html
output/21_06_01_Interior/index.html
__pycache__/HTMLBuild.cpython-39.pyc
model/22_01_01.ifc
model/22_02_01.ifc
model/22_03_01.ifc
model/22_04_01.ifc
model/22_05_01.ifc
model/22_06_01.ifc
model/22_07_01.ifc
model/22_08_01.ifc
model/22_09_01.ifc
output/22_01_01/index.html
output/22_02_01/index.html
output/22_03_01/index.html
output/22_04_01/index.html
output/22_05_01/index.html
output/22_06_01/index.html
output/22_07_01/index.html
output/22_08_01/index.html
output/22_09_01/index.html
__pycache__/HTMLBuild.cpython-39.pyc
__pycache__/HTMLBuild.cpython-39.pyc
